/*helpers*/

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: #291f1a;
}

* {
    box-sizing: border-box;
}

/*nawigacja*/

#menu {
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #FFF;
}

#menu ul {
    text-align: right;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: inline-block;
    margin: 0 40px;
    line-height: 60px;
}

.menu-item a {
    text-decoration: none;
    color: #40e512;
}

/*sekcja z header */

#header {
    background-image: url("../img/header-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    text-align: center;
}

#container-header {
    position: absolute;
    width: 100%;
    transform: translateY(-50%);
    top: 50%;
    color: white;
    font-family: 'Lato', sans-serif;
}

#container-header h1{
    font-weight: 300;
    font-size: 60px;
}

#container-header h2{
    font-weight: 300;
    font-size: 30px;
}

.green {
    color: #40e512;
}

/*sekcja z about*/

#about {
    background-color: #f9fcfe;
    box-shadow: 0px 7px 18px 0px rgba(212, 204, 212, 1);
    position: relative;
    padding: 0 50px;
}

#about .title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    line-height: 100px;
}

#about h2 {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
}

#img-about {
    width: 50%;
    text-align: center;
    display: inline-block;
    margin: 0;
    float: left;
    padding-bottom: 80px;
}

#img-about img{
    width: 50%;
    border: 1px solid white;
    border-radius: 5px;
}

#about p {
    display: inline-block;
    width: 50%;
    margin: 0;
    float: left;
}

.clear {
    clear: both;
}

/*umiejetnosci*/

#skills {
    text-align: center;
    background-color: #f9fcfe;
    padding: 0 50px;
}

#skills .title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    line-height: 100px;
}

#skills h2 {
    padding-top: 30px;
}

#skills .figure {
    display: inline-block;
    width: 70px;
    margin: 40px 20px 150px 30px;
}

#skills .figure img {
    width: 100%;
}

/*potrfolio*/

#portfolio {
    text-align: center;
    background-color: #f9fcfe;
    padding-bottom: 100px;
}

#portfolio .title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    line-height: 100px;
}

#portfolio h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#container-img {
    width: 80%;
    margin: auto;
}

.portfolio-images {
    height: 330px;
    width: 33%;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}

#portfolio-img1 {
    background-image: url("../img/portfolio1.jpg");
}

#portfolio-img2 {
    background-image: url("../img/portfolio2.jpg");
}

#portfolio-img3 {
    background-image: url("../img/portfolio3.jpg");
}

.mask {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    height: 100%;
    opacity: 0;
    transition: all 0.4s;
    font-size: 15px;
    padding: 10px;
}

.mask:hover {
    opacity: 1;
}

.border-portfolio {
    border: 1px solid white;
    height: 100%;
    position: relative;
}

.content-portfolio {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 5px;
}

.clear {
    clear: both;
}

#contact {
    background-color: #213b50;
    padding: 0 100px;
}

#contact-me {
    width: 50%;
    display: inline-block;
    color: white;
    height: 100%;
    float: left;
}

#contact-me .title {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    line-height: 100px;
}

#contact-me h2 {
    padding-top: 40px;
}

#contact-me address {
    margin-top: 30px;
    font-style: normal;
}

#contact-me a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    margin: 60px 20px 30px 0px;
    background-color: #213b50;
    border: 1px solid white;
    color: white;
    font-size: 25px;
}

#contact-me a:hover {
    background-color: white;
    border: 1px solid #213b50;
    color: #213b50;
}

#form {
    width: 50%;
    display: inline-block;
    float: left;
}

#form input[type="text"] {
    width: 100%;
    background-color: #376284;
    border: none;
    color: #eff1f2;
    padding: 10px;
}

#form input[type="text"]::placeholder {
    color: #9ea39c;
}

#form input[name="email"] {
    margin-top: 20px;
}

#form textarea {
    width: 100%;
    margin-top: 20px;
    background-color: #376284;
    border: none;
    color: white;
    padding: 10px;
}

#form textarea::placeholder {
    color: #9ea39c;
}

#form form input[type="button"]{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid white;
    color: #FFF;
    background-color: #5ac92e;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    width: 15%;
    float: right;
}

#form form:first-child {
    margin-top: 100px;
}

.clear {
    clear: both;
}

#footer p {
    color: white;
    padding-left: 100px;
    margin: 0;
    line-height: 30px;
    background-color: #1f2f49;
    font-size: 13px;
}


/*nie ustawiamy wysokosci na sekcjach  , ale ustawiamy padding*/

